*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: inherit;
    font-weight: inherit;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

html,
body {
    height: 100%;
    line-height: 1;
    color: #333333;
}
.page {
    flex: 1 1 auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 1199.98) {
    [class*="__container"] {
        max-width: 970px;
    }
}
@media (max-width: 990.98) {
    [class*="__container"] {
        max-width: 750px;
    }
}
@media (max-width: 767.98) {
    [class*="__container"] {
        max-width: none;
        
    }
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


/************** header section */

.header__container {
    position: absolute;
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    
    color: #31353B;
    font-family: Manrope;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    

}

.header-list__item {
    display: flex;
}

.header-list__item + .header-list__item {
    margin-left: 46px;
}

.header-list__item-link {
    display: flex;

    color: #000;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-main {
    position: relative;
    flex-direction: row;
}

.hero-left__description-type {
    margin-bottom: 24px;
    padding-top: 157px;

    color: #F90;
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

.hero-left__description-title {
    margin-bottom: 23px;

    color: #000;
    font-family: Manrope;
    font-size: 54px;
    font-weight: 800;
    line-height: 1.35em;
}

.hero-left__description-text {
    margin-bottom: 48px;

    color: var(--TEXT, #31353B);
    font-family: Manrope;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.17px;
}

.hero-left__form {
    padding-bottom: 145px;
}

.partners-list {
    display: flex;
}

.hero-left__partners-text {
    margin-bottom: 27px;

    color: var(--TEXT, #31353B);
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.17px;
}

.partner-list__item {
    display: flex;
    align-items: center;
}

.partner-list__item + .partner-list__item {
margin-left: 50px;
}

.partner-icon {
    fill: #718087;
}

.hero-right {
    position: absolute;
    display: flex;
    background-color: #BDCCFF;
    width: 511px;
    height: 841px;
}


.hero-right__links-list {
    width: 100%;
    height: 100%;
    padding-right: 36px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.hero-right__links-item {
    display: flex;
    align-items: center;
}

.hero-right__links-item + .hero-right__links-item {
    margin-top: 26px;
}